<header class="clearfix">
  <p style="font-size:25px;background-color:#BDB2B2" id="header"><i><u>Welcome to PostHub.com</u>...</i></p>
<ul id="navigation">
          <li><a>About Us..</a></li>
          <li><a><%= link_to "Help",    '#' %></a></li>
          <li><a><%= link_to "Home",    users_path %></a></li>
        </ul>
</header>
